@font-face {
    font-family: 'TitleFont';
    src: url('fonts/pixeltitle.ttf') format('truetype');
}
@font-face {
    font-family: 'ShortDescriptionFont';
    src: url('fonts/pixelbasic.ttf') format('truetype');
}
@font-face {
    font-family: 'DescriptionFont';
    src: url('fonts/pixelclean.ttf') format('truetype');
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body::-webkit-scrollbar {
    display: none;
}
.title {
    font-family: 'TitleFont', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 10px;
    color: rgb(67, 64, 90);
    text-decoration: none;
    filter: drop-shadow(0px 6px 0px rgb(0, 0, 0));
}
.short-description {
    font-family: 'ShortDescriptionFont', sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(90, 97, 85);
}
.details, .description, .role {
    font-family: 'DescriptionFont', sans-serif;
    width: 100%;
    text-align: left;
    margin: 20px;
}

.details h1, .description h1, .role h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: rgb(67, 64, 90);
}
.details ul, .role ul {
    list-style-type: disc;
}
.details li, .role li, .description li, .role p {
    font-size: 24px;
    color: rgb(90, 97, 85);
    margin-bottom: 5px;
}

p {
    text-indent: 30px;
}
.description p {
    font-size: 24px;
    color: rgb(90, 97, 85);
    margin-bottom: 20px;
}
.video-container {
    width: 800px;
    height: 450px;
    max-width: 100%;
    margin-top: 30px;
}
.details strong {
    color: rgb(0, 0, 0);
}

.description a:visited, .description a, .details a, .details a:visited {
    color: rgb(100, 130, 200);
    text-decoration: underline;
}

.icon {
    width: 25px;
    height: 25px;
    margin-left: -10px;
    margin-bottom: -4px;
    image-rendering: pixelated;
}

.icon2 {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: -8px;
    image-rendering: pixelated;
}

@media (max-aspect-ratio: 1) {
    .title {
        font-size: 40px;
        filter: drop-shadow(0px 4px 0px rgb(0, 0, 0));
    }
    .short-description {
        font-size: 10px;
    }
    .details h1, .description h1, .role h1 {
        font-size: 20px;
        margin: 10px;
    }
    .details li, .description p, .role li, .role p {
        font-size: 16px;
    }
    .video-container {
        width: 300px;
        height: 170px;
    }
}