body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Sayfa taşmasını engeller */
}

.background {
    background-image: url('images/background.jpg'); /* Arka plan görüntüsü */
    background-size: 100%; /* Arka plan görüntüsünün sayfa boyutuna uyum sağlaması */
    background-repeat: repeat;
    background-position: top; /* Arka plan görüntüsünün ortalanması */
    image-rendering: pixelated;
    height: 100%; /* Sayfa yüksekliği */
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 40%, rgba(0,0,0,0.9) 100%);
    pointer-events: none;
}

.background-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Saydam bir renk */
    pointer-events: none;
}

.hand {
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 50;
}

.card-deck {
    width: 300px;
    height: 450px;
    transform: translateX(50%);
    position: fixed;
    right: 15%;
    background-image: url("images/CardDeckLow.png");
    background-size: cover;
    image-rendering: pixelated;
    display: flex;
    align-items: flex-end; /* Sağ kenara hizala */
    z-index: 1;
}

.card-placeholder-holder{
    position: fixed;
}

.card-placeholder {
    width: 200px;
    height: 300px;
    position: fixed;
    transform: translate(50%, 50%);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    display: flex; /* Flex konteynırı olarak ayarla */
    align-items: flex-end; /* Dikey eksende sağ alt köşeye hizala */
    justify-content: flex-end; /* Yatay eksende sağ alt köşeye hizala */
    bottom: 50%; /* Alttan 20 piksel boşluk bırak */
    right: 15%; /* Sağdan 20 piksel boşluk bırak */
    z-index: 20;
}

@keyframes card-placeholder-animation {
    100% {
        bottom: -30%;
        right: 50%;
    }
}

.card-placeholder.animate {
    animation: card-placeholder-animation 1s ease-in forwards;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    rotation-point: bottom;
    background-size: cover;
    background-position: center;
    opacity: 0;
    margin-right: -25px;
    margin-left: -25px;
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    transition: transform 0.2s, margin 0.2s;
    image-rendering: pixelated;
    z-index: 50;
}

@keyframes cardSpawnAnimation {
    0% {
        transform: translateY(400%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.card.spawn-animation {
    animation: cardSpawnAnimation 2s ease-out forwards;
}

.card:hover {
    transform: scale(1.2) translateY(-20%) !important;
    z-index: 100; ;
    margin-right: 25px;
    margin-left: 25px;
}

.card:active {
    transform: scale(1.1) translateY(-20%) !important;
}

.card.play-animation {
    animation: cardPlayAnimation 1s ease forwards;
}

@keyframes cardPlayAnimation {
    0% {
        transform: translateY(-20%) scale(1.1);
        z-index: 100;
    }
    90%{
        z-index: 100;
    }
    100% {
        transform: translateY(0%) scale(1);
        z-index: 5;
    }
}

.discard-pile {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}



@media (max-aspect-ratio: 1/1) {
    .background {
        background-size: 300%; /* Mobil cihazlar için arka plan resmini %300 boyutunda göster */
    }
    .card-deck {
        width: 200px;
        height: 300px;
    }
    .card {
        width: 133px;
        height: 200px;
    }
    .card-placeholder {
        width: 133px;
        height: 200px;
    }
    .hand {
        height: 200px;
    }
}